<h1>My Social</h1>

<ul>
  <li><a href="/posts/new">New post</a></li>
</ul>

<% @posts.each do |post| %>
  <a href="<%= post_path(post) %>" style="text-decoration: none;">
    <div style="margin: 1em; border-style: dashed;">
      <h2><%= post.message %></h2>
      <div><%= post.user.email %></div>
    </div>
  </a>
<% end %>
